.loginContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .loginWrapper {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px 29px -14px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 29px -14px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 29px -14px rgba(0, 0, 0, 0.75);

        .loginTitle {
            font-size: 20px;
            text-align: center;
            margin-bottom: 10px;
        }

        .loginForm {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .errorMessage {
                font-size: 12px;
                color: crimson;
            }

            .LoginButton {
                padding: 10px;
            }
        }
    }
}