::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 128, 128, 0.603);
}
