.lastTran {
    flex: 2;
    // padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 29px -14px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 29px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 29px -14px rgba(0, 0, 0, 0.75);

    .lastTitle {
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
    }

    .cellWrapper {
        display: flex;
        align-items: center;


        .cellImg {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }

    .lastStatus {
        padding: 5px 0px;
        border-radius: 5px;

        &.confimed {
            color: green;
            background-color: rgba(0, 128, 0, 0.05);
        }

        &.pending {
            color: goldenrod;
            background-color: rgba(255, 217, 0, 0.05)
        }

        &.rejected {
            color: crimson;
            background-color: rgba(255, 0, 0, 0.05);
        }
    }

}


@media only screen and (max-width:600px) {
    .lastStatus {
        font-size: 10px;
    }
}