.sidebar_list {
    list-style: none;
    margin: 0;
    padding: 0;

    .title {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 20px;
    }

    .sidebar_items {
        // width: 100%;
        margin: 5px 35px;
        padding: 5px;
        font-size: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .icon {
            margin-right: 12px;
        }

        &:hover {
            background-color: lightgray
        }
    }
}